<h5> New reservation </h5>

<%= form_for ([@restaurant, @reservation]) do |f| %>
	<%= f.label :res_time %>
	<%= f.datetime_select :res_time %>
	<%#= f.select :res_time, @restaurant.timeslots.collect { |slot| [slot.strftime("%A, %b %d, %l:%M %p"), slot]} %>

	<%= f.submit %>
	<% end %> 