<h1>Reservation Confirmation </h1>
<div>	
<h2><%= "Your reservation is confirmed!" %></h2>
</div>
<div>
<h5><%= "Please note, should you miss your reservation, you will be charged a fee of $130.00, no exceptions!" %> </h5>


</div>
<p>Find me in app/views/reservations/index.html.erb</p>